/* font-family: 'Open Sans', sans-serif; */

@media only screen and (max-width: 420px) {
    #logoBrandstudio{
        width: 35%;
        margin-left: 12%;
    }
}

@media only screen and (min-width: 420px) {
    #logoBrandstudio{
        width: 20%;
    }
}