/* font-family: 'Open Sans', sans-serif; */

@media only screen and (max-width: 420px) {
    #logoBrandstudio{
        width: 35%;
        margin-left: 12%;
    }
    #dienteicono{
      width: 20%;
    }
    
    #reloj{
      width: 20%;
    }
    
    #premio{
      width: 25%;
    }
}

@media only screen and (min-width: 420px) {
    #logoBrandstudio{
        width: 20%;
    }
    #dienteicono{
      width: 30%;
    }
    #reloj{
      width: 25%;
    }
    #premio{
      width: 35%;
    }
}

@media only screen and (max-width: 458px) {

    #pasodesktop{
      display: none;
    }
    #herodesktop{
      background-image: url(/imagenesUsadas/colgate-hero-diente.jpg);
      
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      background-repeat: no-repeat;
    }
    .titulodesktop{
      width: 85%;
      color: white;
    }
  }
  
  @media only screen and (min-width: 458px) {
  
    #heromobile{
      display: none;
    }
    
  #herodesktop{
    
      height: 500px;
      
      margin: 0;
      padding: 10%;
      background-image: url(/imagenesUsadas/colgate-hero-diente.jpg);
      background-size:100% 100%;
      background-repeat: no-repeat;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
  }
  .titulodesktop{
    width: 60%;
  }
    
  }